body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    min-height: 70vh;
}
/*Flex Styling*/

.site{
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin: 0;
}
.site-content{
    flex: 1;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
/*Navigation*/

.navigation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 30px;
    
}

ul{
    list-style-type: none;
    opacity: .75;
}
#about{
    flex-basis: 3em;
    margin: 3px;
}

#store{
    flex-basis: 3em;
    margin: 3px;
    flex-grow:  1;
}

#gmail{
    flex-basis: 3em;
    margin: 3px;
}

#images{
    flex-basis: 4em;
    margin: 3px;
}

#icon{
    flex-basis: 3em;
    margin: 3px;

}

#signin{
    flex-basis: 4em;
    background: rgb(67, 135, 253);
    opacity: 100;
    padding: 5px;
    margin: 0px 0px 0px 15px;
    text-align: center;
    color: white;
}

/*Logo and Search Form */

.logo{
    padding: 1em;

}

input{
    width: 40%;
    height: 40px;
    border: 1px solid #7f7f7f57;
    border-radius: 20px;
}
button{
    margin: 1em;
    padding: 10px;
    background-color: #f2f2f2;
    color: #5F6368; 
    font-size: 14px;
    border: none;
    border-radius: 5px;
}


/*Footer Styling*/

.footer-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #f2f2f2;
    font-size: 14px;
    margin-bottom: -11px;

}
#advertising{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
}
#business{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
}
#searchworks{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
    flex-grow: 1;
}
#privacy{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
}
#terms{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
}
#settings{
    flex-basis: 3em;
    padding: 15px 15px 15px 15px;
}